@font-face {
    font-family: 'Aldrich';
    src: url('../fonts/Aldrich-Regular.ttf');
}

.chartBackground {
    -fx-background-color: rgba(255, 255, 255, 0.9);
}

.gridlinex {
    -fx-stroke-dash-array: 3 3;
    -fx-stroke: #cccccc;
}

.gridliney {
    -fx-stroke-dash-array: 3 3;
    -fx-stroke: #dddddd;
}

.xlabel {
    -fx-padding: 0px 5px 0px 0px;
    -fx-font-family: 'Aldrich';
}

.ylabel {
    -fx-font-size: 9px;
    -fx-font-family: 'Aldrich';
}

.titlelabel {
    -fx-font-size: 24px;
    -fx-font-family: 'Aldrich';
    -fx-padding: 0px 0px 5px 0px;
}