@import 'https://code.highcharts.com/css/highcharts.css';

.outer-pane {
	fill: #ffffff;

}
.middle-pane {
	stroke-width: 1px;
	stroke: #ffffff;
}
.inner-pane {
	fill: #DDDDDD;
  fill-opacity: 0.3;
}
.green-band {
	fill: #555577;
	fill-opacity: 1;
}
.yellow-band {
	fill: #025220;
	fill-opacity: 1;
}
.red-band {
	fill: #845353;
	fill-opacity: 1;
}
.highcharts-gauge-series .highcharts-pivot {
	stroke-width: 1px;
	stroke: red;
  fill: red;
	fill-opacity: 1;
}
.highcharts-gauge-series .highcharts-dial {
	fill: red;
}
.highcharts-yaxis .highcharts-tick {
	stroke-width: 2px;
	stroke: #666666;
}
.highcharts-yaxis-grid .highcharts-grid-line,
.highcharts-yaxis-grid .highcharts-minor-grid-line {
	display: none;
}

.highcharts-yaxis .highcharts-minor-tick {
	stroke-width: 1px;
	stroke: #999999;
}